fastapi
uvicorn
pydantic
pydantic-settings
httpx
python-dotenv
tzdata
langgraph
langgraph-checkpoint-sqlite
langchain
langchain-openai
opencv-contrib-python==4.10.0.84
mediapipe==0.10.18
numpy==1.26.4
pandas
scikit-learn
xgboost
joblib
openpyxl
